@use 'components/buttons' as *;
@use 'abstracts/font-styles' as *;

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(/assets/images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  width: 90%;
  text-align: center;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
}

.header-container {
  background-color: hsl(193, 100%, 96%);
}

.image-and-logo {
  display: flex;
  justify-content: space-between;
}

.header-container__link {
  @include header-link;
  text-decoration: none;
}

.header-container__logo {
  width: 35%;
  height: 0%; //This make the logo not to stretch
}

.header {
  padding: 2em 1.5em 0.5em 1.5em;
  line-height: 1.5em;
  font-size: 1.5rem;
}

.header-container__paragraph {
  line-height: 1.5em;
  padding: 0 1em;
  font-size: 1rem;
}

.header-container__button {
  @include button;
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.header-container__image {
  padding-top: 4em;
  width: 90%;
}

.reasons-container {
  margin-top: 5em;
  margin-bottom: 15em;
}

.first-reasons-container,
.second-reasons-container,
.third-reasons-container {
  margin-bottom: 3em;
  border-radius: 15px;
  box-shadow: 0.5px 0.5px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 35em;
  margin-left: auto;
  margin-right: auto;
}

.first-reasons-container__image,
.second-reasons-container__image,
.third-reasons-container__image {
  padding-top: 2em;
  width: 80%;
}

.first-reasons-container__header,
.second-reasons-container__header,
.third-reasons-container__header {
  font-size: $header-size;
  padding-top: 2.5rem;
}

.first-reasons-container__paragraph,
.second-reasons-container__paragraph,
.third-reasons-container__paragraph {
  opacity: $paragraph-opa;
  line-height: $line-height;
  padding: 0 1em;
}

.footer-container {
  position: relative;
  margin-top: 4em;
  background-color: hsl(192, 100%, 9%);
}

.box-over-footer {
  text-align: center;
  position: absolute;
  border-radius: 1em;
  background-color: whitesmoke;
  width: 90%;
  height: 22%;
  top: -15%;
  left: 5%;
}

.box-over-footer__header {
  line-height: 4em;
}

.box-over-footer__button {
  @include button;
  text-decoration: none;
}

.footer-content {
  color: white;
  padding: 40% 0 0 5%;
}

.footer-content__logo {
  color: white;
  width: 45%;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.contact-information-location {
  background-image: url(/assets/images/icon-location.svg);
  background-repeat: no-repeat;
  background-position: 2% 8%;
  padding-left: 15%;
  padding-top: 0%;
}

.contact-information-phone {
  background-image: url(/assets/images/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 2% 90%;
  padding-left: 15%;
  padding-top: 5%;
}

.contact-information-email {
  background-image: url(/assets/images/icon-email.svg);
  background-repeat: no-repeat;
  background-position: 2% 90%;
  padding-left: 15%;
  padding-top: 5%;
}

.footer-links {
  color: #eee;
  padding-top: 15%;
}

.footer-links__item {
  display: block;
  color: #eee;
  padding-bottom: 7%;
}

.footer-social-logos {
  width: 40%;
  height: 2em;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/assets/images/icon-facebook.svg),
    url(/assets/images/icon-twitter.svg), url(/assets/images/icon-instagram.svg);
  background-repeat: no-repeat;
  background-position: 0 0, 40% 20%, 80% 0;
  color: #eee;
}

.copyright {
  display: block;
  font-size: 0.7rem;
  text-align: center;
  padding-top: 5%;
}

// MEDIAQUERY

@media screen and (min-width: 45em) {
  body {
    background-image: url(/assets/images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .container {
    text-align: unset;
    width: 100%;
    margin-top: 0;
  }

  .image-and-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-container__logo {
    width: 15%;
  }

  .header-container__link {
    padding: 1% 5%;
  }

  .container-2 {
    padding: 5% 5%;
  }

  .header-and-image {
    display: flex;
  }

  .header-container__paragraph {
    padding: 0 40% 0 0;
  }

  .header {
    padding: 20% 40% 0 0;
    font-size: 2rem;
  }

  .header-container__button {
    text-align: center;
    padding: 2% 0%;
    margin: 5% 0 0 0;
  }

  .header-container__image {
    width: 100%;
  }

  .first-reasons-container,
  .second-reasons-container,
  .third-reasons-container {
    width: 80%;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1% 1% 1% 4%;
  }

  .first-reasons-container__paragraph,
  .second-reasons-container__paragraph,
  .third-reasons-container__paragraph {
    padding: 0 20% 0 0;
  }

  .first-reasons-container__image,
  .second-reasons-container__image,
  .third-reasons-container__image {
    width: 40%;
    padding-top: 0;
  }

  .box-over-footer {
    width: 50%;
    height: 50%;
    left:27%;
    box-shadow: 0.5px 0.5px 20px rgba(0, 0, 0, 0.1);
  }

  .footer-container {
    height: 25em;
  }

  .footer-content {
    display: flex;
    padding: 10% 0 0 2%;
  }

  .contact-information {
    width: 30%;
  }

  .footer-content__logo {
    width: 50%;
  }

  .contact-information-location {
    background-position: 2% 8%;
    padding-left: 10%;
    // padding-right: 50%;
  }
  
  .contact-information-phone {
    background-position: 2% 100%;
    padding-left: 10%;
    padding-top: 5%;
  }
  
  .contact-information-email {
    background-position: 2% 100%;
    // padding-left: 15%;
    padding-top: 5%;
  }
  
  .footer-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 8em;
    width: 300%;
    padding-top: 35%;
    padding-left: 100%;
  }

  .footer-links__item {
    padding-bottom: 25%;
  }

  .footer-social-logos {
    width: 20%;
    margin-top: 5%;
    margin-right: 5%;
  }
}
